*~
*.o
*.lo
*.la
*.bz2

ChangeLog
INSTALL
Makefile
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
depcomp

src/.libs
src/.deps
src/Makefile
src/Makefile.in
src/libqmi-glib.la
src/qmi-error-types.c
src/qmi-error-types.h
src/qmi-enum-types.h
src/qmi-enum-types.c
src/qmi-tmp-ctl.h
src/qmi-tmp-ctl.c

cli/.deps
cli/.libs
cli/qmicli

build-aux/qmi-codegen/*.pyc
