*~
*.o
*.lo
*.la
*.bz2
*.pyc
*.gir
*.typelib

Makefile
Makefile.in
.deps
.libs

/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/depcomp

/data/pkg-config/qmi-glib.pc

/src/libqmi-glib/libqmi-glib.la
/src/libqmi-glib/qmi-version.h

/src/libqmi-glib/generated/*.c
/src/libqmi-glib/generated/*.h
/src/libqmi-glib/generated/*.sections

/src/libqmi-glib/test/test-utils
/src/libqmi-glib/test/test-compat-utils
/src/libqmi-glib/test/test-message
/src/libqmi-glib/test/test-generated

/src/qmicli/qmicli
/src/qmicli/test/test-helpers

/src/qmi-proxy/qmi-proxy
/src/qmi-proxy/76-qmi-proxy-device-ownership.rules

/src/qmi-firmware-update/qmi-firmware-update

/build-aux/qmi-codegen/*.pyc

/docs/reference/libqmi-glib/version.xml
/docs/reference/libqmi-glib/libqmi-glib.args
/docs/reference/libqmi-glib/libqmi-glib.hierarchy
/docs/reference/libqmi-glib/libqmi-glib.interfaces
/docs/reference/libqmi-glib/libqmi-glib.prerequisites
/docs/reference/libqmi-glib/libqmi-glib.signals
/docs/reference/libqmi-glib/libqmi-glib.actions
/docs/reference/libqmi-glib/libqmi-glib.types
/docs/reference/libqmi-glib/*.mstamp
/docs/reference/libqmi-glib/*.stamp
/docs/reference/libqmi-glib/*.txt
/docs/reference/libqmi-glib/*.bak
/docs/reference/libqmi-glib/html
/docs/reference/libqmi-glib/tmpl
/docs/reference/libqmi-glib/xml

/docs/man/qmicli.1
/docs/man/qmi-network.1
/docs/man/qmi-firmware-update.1

/utils/qmi-network
/utils/swi-update

/src/qmi-firmware-update/qfu-enum-types.*

/src/qmi-firmware-update/test/test-utils
/src/qmi-firmware-update/test/test-firehose
