*~
*.o
*.lo
*.la
*.bz2

ChangeLog
INSTALL
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
depcomp

libmbim-glib/.deps
libmbim-glib/.libs

libmbim-glib/test/.deps
libmbim-glib/test/.libs
libmbim-glib/test/test-uuid
libmbim-glib/test/test-message
libmbim-glib/test/test-fragment

libmbim-glib/generated/.deps
libmbim-glib/generated/.libs
libmbim-glib/generated/*.c
libmbim-glib/generated/*.h